page-home {

}
.headrSearch{
    background-color: #8d18fc;
    
}
.headrSearchinput::-webkit-input-placeholder{
    color: white;
}

.centerElements{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tile{
}